html,
body {
  margin: 0;
  padding: 0;
}

main {
  background-color: rgba(31, 37, 54, 255);
  height: 600px;
  margin: 16px;
}

p {
  color: rgba(193, 193, 193, 255);
}

h1 {
  color: white;
  font-size: 50px;
}

button {
  background-color: white;
  border-style: none;
  min-width: 150px;
  min-height: 60px;
  border-radius: 5%;
  clear: both;
}

.toggle {
  width: 30px;
  height: 10px;
  float: right;
  margin: 30px;
}

.ironhack-logo {
  width: 40px;
  height: auto;
  margin: 30px;
}

.main-section {
  margin: 30px;
  display: flex;
  flex-direction: column;
  float: left;
}

.main-section p {
  font-size: 24px;
  width: 35%;
}

.footer-section div {
  float: left;
  text-align: center;
  margin-left: 100px;
}

.footer-section p {
  width: 50%;
  display: inline-block;
}
